<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eHUA Admin Console</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/headers.css" rel="stylesheet">
    <link href="/css/features.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<main>
  <!-- <h1 class="visually-hidden">Headers examples</h1> -->

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Administrator Data Handler Console</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="http://localhost:8000/ehua/api/studies-portal/v1/documentation" class="nav-link">API Doc</a></li>
        <li class="nav-item"><a href="logout" class="nav-link">Logout</a></li>
      </ul>
    </header>
  </div>
