<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<br>

  <main class="container">

    <div class="bg-light p-5 rounded-3">
      <h1>Display all Professors</h1>
      <p class="lead">This selection displays all professors which are working in HUA.</p>
      <a class="btn btn-lg btn-primary" href="/professors/all" role="button"> View Data &raquo;</a>
    </div>

  </main>

  <br>

  <main class="container">

    <div class="bg-light p-5 rounded-3">
      <h1>Professor by Section</h1>
      <p class="lead">This selection filter and sort the professors by sections.</p>
      <a class="btn btn-lg btn-primary" href="/professors/sections" role="button"> Search &raquo;</a>
    </div>

  </main>

  <br>


<%- include("./partials/footer") %>