<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/signin.css">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        select {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>
  </head>

  <body class="text-center">
    
    <main class="form-signin">

      <form action="/signup" method="POST">
        <img class="mb-4" src="/assets/Harokopio_University_Logo.png" alt="" width="104" height="90">
        <h3 class="h2 mb-3 fw-normal">Sign up</h3>
        <h3 class="h6 mb-3">HUA WebPortal</h3>

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name="username" placeholder="itp00000" required>
          <label for="floatingInput">Username</label>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="itp00000@hua.gr" required>
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword2" name="password2" placeholder="Confirm Password">
            <label for="floatingPassword2">Confirm Password</label>
        </div>

        <div class="form-floating">
            <select name="role" id="role" required>
              <option value="">Select your role</option>
              <option value="professor">Professor</option>
              <option value="student">Student</option>
            </select>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; eHUA 2022</p>
      </form>
      <div>  
        <a class="nav-link" href="/">
          <span data-feather="users"></span>
          Signin now
        </a>
      </div>
    </main>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>

    <ul>
      <% if (messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>

    <script src="/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
