<%- include("./partials/header") %>
<%- include("./navbar/menu") %>

<br>

  <main class="container">

    <div class="bg-light p-5 rounded-3">
      <h1>Display all Students</h1>
      <p class="lead">This selection displays all students which are in HUA.</p>
      <a class="btn btn-lg btn-primary" href="/students/all" role="button"> View Data &raquo;</a>
    </div>

  </main>

  <br>

  <main class="container">

    <div class="bg-light p-5 rounded-3">
      <h1>Students by Section</h1>
      <p class="lead">This selection filter and sort the students by sections.</p>
      <a class="btn btn-lg btn-primary" href="/students/sections" role="button"> Find &raquo;</a>
    </div>

  </main>

  <br>


<%- include("./partials/footer") %>