<%- include("./partials/header") %>

    <% if (username) { %>
        <h1 class="visually-hidden"><%= username %></h1>
    <% } %>
    
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2">Rebuild Tables Data</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
          <div class="feature-icon bg-success bg-gradient"></div>
          <h2>Generate Departments</h2>
          <p>Add new Departments to the table. In case of existing the main program continues to the next record.</p>
          <a href="/departments" class="icon-link">Rebuild</a>
        </div>

        <div class="feature col">
            <div class="feature-icon bg-warning bg-gradient"></div>
            <h2>Generate Classrooms</h2>
            <p>Add new Classrooms Types to the table. In case of existing the main program continues to the next record.</p>
            <a href="/classrooms" class="icon-link">Rebuild</a>
          </div>

          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient"></div>
            <h2>Generate Roles</h2>
            <p>Add new Classrooms Types to the table. In case of existing the main program continues to the next record.</p>
            <a href="/roles" class="icon-link">Rebuild</a>
          </div>

          <div class="feature col">
            <div class="feature-icon bg-dark bg-gradient"></div>
            <h2>Generate Document Types</h2>
            <p>Add new Documents Types to the table. In case of existing the main program continues to the next record.</p>
            <a href="/doc_types" class="icon-link">Rebuild</a>
          </div>

          <div class="feature col">
            <div class="feature-icon bg-danger bg-gradient"></div>
            <h2>Generate Exams</h2>
            <p>Add new Exams Types to the table. In case of existing the main program continues to the next record.</p>
            <a href="/exams" class="icon-link">Rebuild</a>
          </div>

          <div class="feature col">
            <div class="feature-icon bg-secondary bg-gradient"></div>
            <h2>Generate Schedulers</h2>
            <p>Add new Schedulers Types to the table. In case of existing the main program continues to the next record.</p>
            <a href="/schedulers" class="icon-link">Rebuild</a>
          </div>

          <div class="feature col">
            <div class="feature-icon bg-info bg-gradient"></div>
            <h2>Generate Semesters</h2>
            <p>Add new Semesters Types to the table. In case of existing the main program continues to the next record.</p>
            <a href="/semesters" class="icon-link">Rebuild</a>
          </div>

      </div>

      <div class="border-bottom"></div>
      <br>

      <h2 class="pb-2">Migrate Objects Data</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 border-bottom">

        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient"></div>
            <h2>Migrate Students</h2>
            <p>Migrate Students Master Data table. This functionality contains new records creation and update the existsing.</p>
            <a href="/students" class="icon-link">Call to action</a>
          </div>
  
          <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient"></div>
              <h2>Migrate Professors</h2>
              <p>Migrate Professors Master Data table. This functionality contains new records creation and update the existsing.</p>
              <a href="/professors" class="icon-link">Call to action</a>
            </div>
  
            <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient"></div>
              <h2>Migrate Courses</h2>
              <p>Migrate Courses Master Data table. This functionality contains new records creation and update the existsing.</p>
              <a href="/courses" class="icon-link">Call to action</a>
            </div>
  
            <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient"></div>
              <h2>Migrate Documents</h2>
              <p>Migrate Documents Master Data table. This functionality contains new records creation and update the existsing.</p>
              <a href="/documents" class="icon-link">Call to action</a>
            </div>
  
            <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient"></div>
              <h2>Migrate Sections</h2>
              <p>Migrate Sections Master Data table. This functionality contains new records creation and update the existsing.</p>
              <a href="/sections" class="icon-link">Call to action</a>
            </div>

      </div>

    </div>


<%- include("./partials/footer") %>
