worker_processes  5;

events {
  worker_connections  1024;
}

http {

  # loadbalancer
    upstream web-api {
      server 127.0.0.1:8000;
      #server 127.0.0.1:8010;
      #server 127.0.0.1:8020;
    }

  server {

    listen 443 ssl;

    # certificates
    ssl_certificate /etc/nginx/certs/server.crt;
    ssl_certificate_key /etc/nginx/certs/server.key;

    server_name localhost 127.0.0.1;

    location /ehua/api/studies-portal/v1 {

      proxy_pass http://web-api/ehua/api/studies-portal/v1;

      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_redirect off;
      proxy_buffering off;

    }

  }

}