    <div class="container">
        <footer class="py-3 my-6">
            <p class="text-center text-muted border-top py-3 my-2 mb-2">&copy; 2022 eHUA</p>
        </footer>
    </div>
    
    </main>
    </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/form-validation.js"></script>
    <!-- CSV Module -->
    <script src="/js/create&download_csv.js"></script>
    <script src="/js/create&download_json.js"></script>

    <!-- <script>
        $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        });
    </script> -->

    <script type="text/javascript">

        function findString(text) {
            document.querySelector("#myInput").textContent=window.find(text);
        };

        // document.getElementById("myInput").onchange = function() {
        //     let message = document.getElementById('myInput').value;
        //     findString(message);
        // };
        
        var input = document.getElementById("myInput");
        input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            let my_text = document.getElementById('myInput').value;
            findString(my_text);
        }
        });

    </script>

</body>
</html>